<%- include('partials/header') %>


<div class="jumbotron centered home">
  <div class="container">
    <img src="https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?1430942591" height="200px" width="200px">
    <h1 class="display-3">FoodHot</h1>
    <p class="lead">Be Your Own Manager!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
