<%- include('partials/header') %>

<div class="jumbotron centered home">
    <div  class="container">
        <h1>Sorry! Site Under Maintenance</h1>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
</div>


<%- include('partials/footer') %>