<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1 class="display-3">Food is waiting for you :)</h1>
    <p class="secret-text">All Reservations</p>
    <form action="/registeration" method="POST">
      <button class="btn btn-light btn-lg" type="submit">For More Reservations!</button>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </form>
    

    
  </div>
</div>

<%- include('partials/footer') %>
