<%- include('partials/header') %>

<div  class="jumbotron text-center">
    <div  class="container">
        <h1>Your  table has been booked!</h1>
        <p>Thank You!</p>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Exit</a>
    </div>
</div>


<%- include('partials/footer') %>